{% extends "base_generic.html" %}

{% block content %}
<h1>Expand your vocabulary!</h1>

  <p>Here you can measure and enlarge your English vocabulary</p>

  <p>Your vocabulary information:</p>
  <ul>
    <li><strong>Words:</strong> {{ num_words }}</li>
	<li><strong>Random word:</strong> <a href='index' title = {{ translations }}> {{ random_word }} </a>
	<li><strong>Visits:</strong> {{ num_visits }}</li>
  </ul>
  <p> </p>
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    <input type="submit" value="Submit" />
  </form>
  <ul>
    <li><strong>Number:</strong> {{ number }}</li>
  </ul>
{% endblock %}